#myGrid {
    display: grid;
    justify-content: center;
    grid-template-columns: 700px 700px;
    margin-bottom: 0.5%;
}

#myHeader {
    text-align: center;
}

#naiveCanvas {
    display: block;
    grid-column: 1;
    margin: auto;
    background-color: #f0f0f0;
    border: 2px solid #d0d0d0;
}

#bresenhamCanvas {
    display: block;
    grid-column: 2;
    margin: auto;
    background-color: #f0f0f0;
    border: 2px solid #d0d0d0;
}
