#myHeader {
    text-align: center;
}

#myCommand {
    width: 250px;
    margin: auto;
}

#myWarning {
    text-align: center;
    color: #ff0000;
}

#myCanvas {
    display: block;
    margin: 0 auto;
    background-color: #f0f0f0;
    border: 2px solid #d0d0d0;
}


